// Navigation code here
.top {
    width: 100%;
    position: fixed;
    top: 0;
    opacity: .85;
    color: #22283B;
    background: #f4f4f4;
    padding: 20px 0;
    border: 1px double #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        padding-bottom: 1%;
    }
        .navbar {
          width: 35%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
            @media @phone {
                width: 80%;
                padding-top: 2%;
            }
          a {
             .navfont();
          }
          a:hover {
            color: red;
          }
        }
    }
